# --- Eclipse ---
.metadata
bin/
tmp/
*.tmp
*.bak
*.class
*.jar
*.war
*.ear
*.log
.sourcepath
.classpath
.project
.settings/

# --- VS Code ---
.vscode/

# --- C++ / Compiladores ---
*.out
*.exe
*.o
*.obj

# --- IntelliJ IDEA ---
.idea/
*.iml

# --- Maven ---
target/

# --- Sistema Operacional ---
.DS_Store
Thumbs.db
